html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #150216;
}

body {
    font-family: "Rubik", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.layout {
    width: 100%;
    height: 100%;
}
    
.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100%;
    justify-items: center;
}

.navbar {
    display: flex;
    position: fixed;
    grid-row: 1 / 2;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    background: rgb(0,0,0);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgba(168, 168, 168, 0.7) 0%, rgba(13, 146, 170, 0.7) 40%, rgba(124, 1, 124, 0.7) 83%);
    backdrop-filter: blur(20px);
    overflow: hidden;
    }

    .navbar nav {
        display: flex;
        width: 95vw;
        height: 6vh;
        align-items: center;
        justify-content: space-between;
    }

    .navbar h1 {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 5%;
    }

    .navbar h1 {
        color: rgb(255, 255, 255);
        text-decoration: normal;
        text-align: center;
        -o-text-overflow: clip;
        text-overflow: clip;
        white-space: pre;
        text-shadow: 0 0 10px rgb(92, 187, 159) ,
                    0 0 20px rgb(211, 185, 253) ,
                    0 0 30px rgb(0, 195, 255) ,
                    0 0 40px #ffffff , 0 0 70px #ffffff ,
                    0 0 80px #ffffff, 0 0 100px #ffffff ;
    }

    .navbar ul{
        display: flex;
        list-style: none;
        margin: 5%;
        gap: 1.5rem;
    }

    .navbar li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }

    .navbar li img {
        display: flex;
        height: 1.5rem;
        width: 1.5rem;
    }

    .navbar a:not(.account){
        display: block;
        padding: 5px;
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        border: 2px solid #000000;
        color: rgb(255, 255, 255);
        transition: all 0.2s ease-in-out;
    }

    .navbar a:hover:not(.account) {
        background-color: rgb(255, 0, 191);
    }

    #account:hover {
        background-color: rgb(18, 0, 179);
    }

    .account {
        font-size: 1rem;
        color: #c4c4c4;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }
    
    .account:hover {
        color: #ffffff;
    }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80vw;
    height: 55vh;
    padding: 90px 0px 90px 0px;
    margin-top: 15vh;
    border-radius: 6px;
    background-image: url(assets/img/gaming.jpg);
    background-size: cover;
    background-color: #000000;
    }

    .content h1 {
        font-size: 4rem;
        font-weight: 400;
        text-shadow: 0 0 10px rgb(92, 187, 159) ,
                    0 0 20px rgb(211, 185, 253) ,
                    0 0 30px rgb(0, 195, 255) ,
                    0 0 40px #ffffff , 0 0 70px #ffffff ,
                    0 0 80px #ffffff, 0 0 100px #ffffff ;
    }

    .content p {
        font-size: 1rem;
        font-weight: 300;
        text-shadow: 0 0 10px rgb(0, 0, 0) ,
                    0 0 20px rgb(0, 0, 0) ,
                    0 0 30px rgb(0, 0, 0) ,
                    0 0 40px #000000 , 0 0 70px #000000 ,
                    0 0 80px #000000, 0 0 100px #000000 ;
    }

    .content a {
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        width: 50px;
        height: 50px;
        text-decoration: none;
        color: #ffffff;
        background-color: #000000;
        border-radius: 50%;
        transition: all 0.2s ease;
    }

    .content a:hover {
        background-color: rgb(255, 0, 140);
    }

    .category {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        width: 80vw;
        margin-top: 15vh;
        border-radius: 10px;
        }

        .category a {
            text-decoration: none;
            color: #ffffff;
            transition: all 0.2s ease-in-out;
        }

        .card {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 10vw;
            height: 10vh;
            border-radius: 10px;
            background-color: #000000;
        }

        .card::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #00000081;
            border-radius: 10px;
            border: 3px solid #47084d;
            transition: opacity 0.3s ease-in-out;
            z-index: 1;
        }

        .card h2 {
            position: relative;
            font-weight: 400;
            z-index: 2;
        }

        .card:hover::after {
            opacity: 0.5;
        }

        .aventura {
            background-image: url(assets/img/aventura.jpg);
            background-size: cover;
        }

        .terror {
            background-image: url(assets/img/terror.jpg);
            background-size: cover;
        }

        .rpg {
            background-image: url(assets/img/rpg.jpg);
            background-size: cover;
        }

        .shooter {
            background-image: url(assets/img/shooter.jpg);
            background-size: cover;
        }

        .deporte {
            background-image: url(assets/img/deporte.jpg);
            background-size: cover;
        }

/* Estilos de subpáginas */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: auto;
    padding: 90px 0px 90px 0px;
    margin-top: 15vh;
    border-radius: 10px;
    background-color: #000000;
}

.gamesBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: auto;
    row-gap: auto;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow-x: auto;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 12vw;
    height: 50vh;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #181818;
    overflow: hidden;
}

.game h2 {
    font-size: 1rem;
    font-weight: 400;
}

.game p {
    font-size: 1.2rem;
    font-weight: 400;
}

.game img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.game a {
    text-decoration: none;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #31002d;
    padding: 0;
    min-height: 82vh;
    height: auto;
    overflow: hidden;
}

.signup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #31002d;
    padding: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    row-gap: 2rem;
}

.welcome h1 {
    font-size: 6rem;
    font-weight: 500;
}

.welcome p {
    font-size: 1.5rem;
    font-weight: 300;
}

/* Estilos de formularios */

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
}

form h2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #3d0050;
}

label {
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin: 10px;
    font-size: 1rem;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    background-color: #6b4386;
    border: 1px solid rgb(132, 0, 255);
}

.nameField {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 10px;
}

.nameField input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-control {
    padding: 10px;
    padding-right: 40px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}

.passwordContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.showPassword {
    display: flex;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    right: 10px;
    padding: 5px
}

.showPassword svg {
    width: 25px;
    height: 25px;
    stroke: rgb(165, 165, 165);
    transition: stroke 0.3s ease;
}

.showPassword:hover svg {
    stroke: rgb(109, 109, 109);
}

#loginBtn {
    padding: 12px;
    background-color: rgb(76, 0, 255);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginBtn:hover {
    background-color: #00ccb1;
}

#signupBtn {
    padding: 12px;
    background-color: rgb(76, 0, 255);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signupBtn:hover {
    background-color: #00ccb1;
}